<div class="p-6 space-y-6">
  <h2 class="text-2xl font-bold mb-4">TODO</h2>

  <p-button label="Nueva tarea" severity="info" (onClick)="openNewTask()" />

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mt-4">
    @for (task of taskService.tasks(); track task.id) {
    <app-card [title]="task.title" [description]="task.description" [completed]="task.completed"
      (toggle)="taskService.toggleCompleted(task)" (remove)="taskService.deleteTask(task.id!)">
    </app-card>
    } @empty {
    <p class="text-gray-500">No hay tareas registradas</p>
    }
  </div>


  <app-form [visible]="modalVisible" [task]="selectedTask" (save)="saveTask($event)" (close)="modalVisible = false">
  </app-form>
</div>